---
apiVersion: v1
kind: Event
metadata:
  name: install-error.{{ now }}
  namespace: {{ ansible_operator_meta.namespace }}
involvedObject:
  apiVersion: pulp.pulpproject.org/v1beta2
  kind: {{ kind }}
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
message: {{ error_msg }}
reason: InstallFailed
type: Warning
firstTimestamp: {{ now }}
lastTimestamp: {{ now }}
count: 1
