# Postgres Secret.
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-postgres-configuration'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  password: '{{ postgres_pass }}'
  username: '{{ postgres_user }}'
  database: '{{ postgres_database }}'
  port: '{{ postgres_port }}'
  host: {{ ansible_operator_meta.name }}-postgres-{{ postgres_version }}
  sslmode: {{ postgres_sslmode | default('prefer') }}
  type: 'managed'
