---
apiVersion: v1
kind: Deployment
metadata:
  name: pulp-web
  namespace: "{{ project_name }}"
  labels:
    app: pulp-web
spec:
  replicas: {{ pulp_web.replicas }}
  selector:
    matchLabels:
      app: pulp-web
  template:
    metadata:
      labels:
        app: pulp-web
    spec:
      containers:
        - name: pulp-web
          image: "{{ registry }}/{{ project }}/{{ image_web }}:{{ tag }}"
          imagePullPolicy: "IfNotPresent"
          # We set args, not command, so as to not override the entrypoint script
          args: ["nginx"]
          ports:
            - protocol: TCP
              containerPort: 80
          livenessProbe:
            exec:
              command: ["/usr/bin/nginx-check"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command: ["/usr/bin/nginx-check"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          