---
apiVersion: v1
kind: Service
metadata:
  name: "{{ meta.name }}-web-svc"
  namespace: "{{ project_name }}"
  labels:
    app: pulp-web
spec:
  selector:
    app: pulp-web
  ports:
    - protocol: TCP
      targetPort: 80
      name: pulp-web-80
      port: 24880
      nodePort: 24880
  type: NodePort
