---
apiVersion: v1
kind: Service
metadata:
  name: "{{ meta.name }}-web-svc"
  namespace: "{{ project_name }}"
  labels:
    app.kubernetes.io/name: 'nginx'
    app.kubernetes.io/instance: 'nginx-{{ meta.name }}'
    app.kubernetes.io/component: webserver
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
spec:
  selector:
    app.kubernetes.io/name: 'nginx'
    app.kubernetes.io/instance: 'nginx-{{ meta.name }}'
    app.kubernetes.io/component: webserver
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
  ports:
    - protocol: TCP
      targetPort: 8080
      name: web-8080
      port: 24880
{% if ingress_type|lower == "none" %}
      nodePort: 24880
  type: NodePort
{% endif %}
