---
apiVersion: v1
kind: Deployment
metadata:
  name: "{{ meta.name }}-content"
  namespace: "{{ project_name }}"
  labels:
    app: "{{ deployment_type }}-content"
spec:
  replicas: {{ pulp_content.replicas }}
  selector:
    matchLabels:
      app: "{{ deployment_type }}-content"
  template:
    metadata:
      labels:
        app: "{{ deployment_type }}-content"
    spec:
{% if is_k8s %}
      securityContext:
        runAsUser: 0
        fsGroup: 0
{% endif %}
      volumes:
        - name: {{ meta.name }}-pulp-server
          secret:
            secretName: {{ meta.name }}-pulp-server
            items:
              - path: settings.py
                key: settings.py
{% if file_storage %}
        - name: pulp-file-storage
          persistentVolumeClaim:
            claimName: pulp-file-storage
{% endif %}
      containers:
        - name: pulp-content
          image: "{{ registry }}/{{ project }}/{{ image }}:{{ tag }}"
          imagePullPolicy: "IfNotPresent"
          # We set args, not command, so as to not override the entrypoint script
          args: ["pulp-content"]
{% if pulp_content.resource_requirements is defined %}
          resources: {{ pulp_content.resource_requirements }}
{% endif %}
          env:
            - name: POSTGRES_SERVICE_HOST
              value: "{{ postgres_host }}"
            - name: POSTGRES_SERVICE_PORT
              value: "{{ postgres_port }}"
            - name: REDIS_SERVICE_HOST
              value: "{{ meta.name }}-redis"
            - name: REDIS_SERVICE_PORT
              value: "{{ pulp_default_settings.redis_port }}"
          ports:
            - protocol: TCP
              containerPort: 24816
          volumeMounts:
            - name: {{ meta.name }}-pulp-server
              mountPath: "/etc/pulp/"
{% if file_storage %}
            - name: pulp-file-storage
              readOnly: false
              mountPath: "/var/lib/pulp"
{% endif %}
