---
apiVersion: v1
kind: Service
metadata:
  name: "{{ meta.name }}-content-svc"
  namespace: "{{ project_name }}"
  labels:
    app: "{{ deployment_type }}-content"
spec:
  selector:
    app: "{{ deployment_type }}-content"
  ports:
    - protocol: TCP
      targetPort: 24816
      name: pulp-content-24816
      port: 24816
{% if ingress_type|lower == "none" %}
      nodePort: 24816
  type: NodePort
{% endif %}
