---
apiVersion: v1
kind: Service
metadata:
  name: "{{ meta.name }}-content-svc"
  namespace: "{{ project_name }}"
  labels:
    app.kubernetes.io/name: '{{ deployment_type }}-content'
    app.kubernetes.io/instance: '{{ deployment_type }}-content-{{ meta.name }}'
    app.kubernetes.io/component: content-server
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
spec:
  selector:
    app.kubernetes.io/name: '{{ deployment_type }}-content'
    app.kubernetes.io/instance: '{{ deployment_type }}-content-{{ meta.name }}'
    app.kubernetes.io/component: content-server
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
  ports:
    - protocol: TCP
      targetPort: 24816
      name: content-24816
      port: 24816
{% if ingress_type|lower == "nodeport" %}
      nodePort: 24816
  type: NodePort
{% endif %}
