# Admin Password Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ admin_password_name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  password: '{{ admin_password }}'
