---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ storage_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  azure-account-name: '{{ azure_account_name }}'
  azure-account-key: '{{ azure_account_key }}'
  azure-container: '{{ azure_container }}'
  azure-container-path: '{{ azure_container_path }}'
