---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ container_token_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  container_auth_private_key.pem: |-
{{ container_auth_private_key | indent(width=6, indentfirst=True) }}
  container_auth_public_key.pem:  |-
{{ container_auth_public_key | indent(width=6, indentfirst=True) }}
