---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ db_fields_encryption_secret }}'
  namespace: '{{ meta.namespace }}'
stringData:
  database_fields.symmetric.key: '{{ db_fields_encryption_key }}'
