---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ galaxy_signing_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  galaxy_signing_service.gpg: |-
{{ galaxy_signing_service_gpg | indent(width=6, first=True) }}
  galaxy_signing_service.asc:  |-
{{ galaxy_signing_service_asc | indent(width=6, first=True) }}
