# Postgres Secret
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ db_secret_name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  password: '{{ database_password }}'
  username: '{{ database_username }}'
  database: '{{ database_name }}'
  port: '{{ database_port }}'
  host: '{{ database_host }}'
  sslmode: {{ database_sslmode | default('prefer') }}
  type: '{{ database_type }}'
