---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ signing_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  signing_service.gpg: |-
{{ signing_service_gpg | indent(width=6, first=True) }}
  signing_service.asc:  |-
{{ signing_service_asc | indent(width=6, first=True) }}
