.vscode
# Ignore pyenv file
.python-version

# Ignore pipenv files
Pipfile
Pipfile.lock

bin


# Ignore generated container files
containers/images/pulp/Containerfile.core.p*
containers/images/pulp/Containerfile.core.g*
containers/images/pulp/Containerfile.web.p*
containers/images/pulp/Containerfile.web.g*

# Ignore testing directory
testing/*
testbin/*

Containerfile.bundle
