---
- name: Load Route TLS certificate
  include_tasks: load_route_tls_secret.yml
  when:
    - ingress_type | lower == 'route'
    - route_tls_secret != ''

- name: Gathering routes
  include_tasks: load_routes.yml
  vars:
    max_retries: 30
    retry_delay: 5
  when:
    - ingress_type | lower == 'route'

- name: pulp routes
  k8s:
    state: "{{ deployment_state }}"
    definition: "{{ lookup('template', 'templates/' + item + '.ingress.yaml.j2') }}"
  with_items:
    - pulp
  when:
    - ingress_type is defined
    - ('route' == ingress_type|lower) or ('ingress' == ingress_type|lower)

- name: Remove pulp-web deployment with route
  kubernetes.core.k8s:
    api_version: v1
    kind: Deployment
    name: "{{ ansible_operator_meta.name }}-web"
    namespace: "{{ ansible_operator_meta.namespace }}"
    state: absent
  when:
    - ingress_type is defined
    - ingress_type | lower == 'route'

- k8s_status:
    api_version: "{{ api_version }}"
    kind: "{{ kind }}"
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.namespace }}"
    conditions:
      - type: "{{ deployment_type|capitalize }}-Routes-Ready"
        message: Checking routes
        reason: CheckingRoutes
        status: "True"
        lastTransitionTime: "{{ lookup('pipe', 'date --rfc-3339 seconds') }}"

