---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ image_pull_secret }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
data:
  .dockerconfigjson: '{{ image_pull_secret_credentials|b64encode }}'
