apiVersion: v1
{% if image_pull_secret is defined and image_pull_secrets is undefined %}
# image_pull_secret is deprecated in favor of image_pull_secrets
imagePullSecrets:
  - name: {{ image_pull_secret }}
{% elif image_pull_secrets is defined %}
imagePullSecrets:
{% for secret in image_pull_secrets %}
- name: {{ secret }}
{% endfor %}
{% endif %}
kind: ServiceAccount
metadata:
  name: pulp-operator-sa
  namespace: '{{ ansible_operator_meta.namespace }}'
