apiVersion: v1
imagePullSecrets:
{% if image_pull_secret|length > 0 and image_pull_secrets|length == 0 %}
# image_pull_secret is deprecated in favor of image_pull_secrets
- name: {{ image_pull_secret }}
{% else %}
{% for secret in image_pull_secrets %}
- name: {{ secret }}
{% endfor %}
{% endif %}
{% if __dockercfg_secret is defined and __dockercfg_secret | length > 0%}
- name: {{ __dockercfg_secret }}
{% endif %}
kind: ServiceAccount
metadata:
  name: '{{ operator_service_account_name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
