---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-admin-password'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  password: '{{ lookup('password', '/tmp/ts' + ansible_operator_meta.name + 'pg length=32 chars=ascii_letters,digits') }}'
