---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ meta.name }}-db-fields-encryption'
  namespace: '{{ meta.namespace }}'
stringData:
  database_fields.symmetric.key: '{{ db_fields_encryption_key }}'
