---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ meta.name }}-pulp-server"
  namespace: "{{ project_name }}"
stringData:
  settings.py: |
    {% for setting, value in pulp_combined_settings.items() %}
    {{ setting | upper }} = {{ value | string | capitalize if value | string in ["True", "False"] else value | to_json }}
    {% endfor %}
