---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-db-fields-encryption'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  database_fields.symmetric.key: |
    {{ db_fields_encryption_key }}
