---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ meta.name }}-file-storage"
  namespace: "{{ project_name }}"
  labels:
    app.kubernetes.io/name: '{{ deployment_type }}-storage'
    app.kubernetes.io/instance: '{{ deployment_type }}-storage-{{ meta.name }}'
    app.kubernetes.io/component: storage
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
spec:
  resources:
    requests:
      storage: "{{ file_storage.size }}"
  accessModes:
    - "{{ file_storage.access_mode }}"
{% if file_storage.storage_class is defined %}
  storageClassName: '{{ file_storage.storage_class }}'
{% endif %}
