---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-container-auth'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  container_auth_private_key.pem: |-
{{ lookup('file', '/tmp/private_key.pem') | indent(width=6, first=True) }}
  container_auth_public_key.pem:  |-
{{ lookup('file', '/tmp/public_key.pem') | indent(width=6, first=True) }}
