---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pulp-file-storage
  namespace: "{{ project_name }}"
spec:
  resources:
    requests:
      storage: "{{ pulp_storage.file.size }}"
  accessModes:
    - "{{ pulp_storage.file.access_mode }}"
