---
apiVersion: v1
kind: Deployment
metadata:
  name: "{{ meta.name }}-api"
  namespace: "{{ project_name }}"
  labels:
    app: "{{ meta.name }}-{{ deployment_type }}-api"
spec:
  replicas: {{ pulp_api.replicas }}
  selector:
    matchLabels:
      app: "{{ meta.name }}-{{ deployment_type }}-api"
  template:
    metadata:
      labels:
        app: "{{ meta.name }}-{{ deployment_type }}-api"
    spec:
{% if is_k8s %}
      securityContext:
        runAsUser: 0
        fsGroup: 0
{% endif %}
      volumes:
        - name: {{ meta.name }}-pulp-server
          secret:
            secretName: {{ meta.name }}-pulp-server
            items:
              - path: settings.py
                key: settings.py
        - name: {{ meta.name }}-admin-password
          secret:
            secretName: {{ meta.name }}-admin-password
            items:
              - path: pulp-admin-password
                key: password
{% if file_storage %}
        - name: pulp-file-storage
          persistentVolumeClaim:
            claimName: {{ meta.name }}-pulp-file-storage
{% else %}
        - name: pulp-tmp-file-storage
          emptyDir: {}
        - name: pulp-assets-file-storage
          emptyDir: {}
{% endif %}
      containers:
        - name: pulp-api
          image: "{{ registry }}/{{ project }}/{{ image }}:{{ tag }}"
          imagePullPolicy: "IfNotPresent"
          # We set args, not command, so as to not override the entrypoint script
          args: ["pulp-api"]
          env:
            - name: POSTGRES_SERVICE_HOST
              value: "{{ postgres_host }}"
            - name: POSTGRES_SERVICE_PORT
              value: "{{ postgres_port }}"
            - name: REDIS_SERVICE_HOST
              value: "{{ meta.name }}-redis"
            - name: REDIS_SERVICE_PORT
              value: "{{ pulp_default_settings.redis_port }}"
          ports:
            - protocol: TCP
              containerPort: 24817
          livenessProbe:
            httpGet:
              path: pulp/api/v3/status/
              port: 24817
              scheme: HTTP
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: pulp/api/v3/status/
              port: 24817
              scheme: HTTP
            failureThreshold: 10
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
{% if pulp_api.resource_requirements is defined %}
          resources: {{ pulp_api.resource_requirements }}
{% endif %}
          volumeMounts:
            - name: {{ meta.name }}-pulp-server
              mountPath: "/etc/pulp/settings.py"
              subPath: settings.py
              readOnly: true
            - name: {{ meta.name }}-admin-password
              mountPath: "/etc/pulp/pulp-admin-password"
              subPath: pulp-admin-password
              readOnly: true
{% if file_storage %}
            - name: pulp-file-storage
              readOnly: false
              mountPath: "/var/lib/pulp"
{% else %}
            - name: pulp-tmp-file-storage
              mountPath: "/var/lib/pulp/tmp"
            - name: pulp-assets-file-storage
              mountPath: "/var/lib/pulp/assets"
{% endif %}
