---
apiVersion: v1
kind: Secret
metadata:
  name: external-database
data:
  POSTGRES_HOST: cG9zdGdyZXMuZGIuc3Zj
  POSTGRES_PORT: NTQzMg==
  POSTGRES_USERNAME: cHVscC1hZG1pbg==
  POSTGRES_PASSWORD: cGFzc3dvcmQ=
  POSTGRES_DB_NAME: cHVscA==
  POSTGRES_SSLMODE: cHJlZmVy

---
apiVersion: repo-manager.pulpproject.org/v1
kind: Pulp
metadata:
  name: pulp
spec:
# storage configs
  file_storage_storage_class: standard
  file_storage_size: 2Gi
  file_storage_access_mode: "ReadWriteMany"

# db
  database:
    external_db_secret: external-database

# ingress configs
  ingress_class_name: nginx
  ingress_host: pulp.lab
  ingress_type: ingress
  is_nginx_ingress: true

# pulpcore pods configs
  api:
    replicas: 1
  content:
    replicas: 1
  worker:
    replicas: 1
