apiVersion: repo-manager.pulpproject.org/v1alpha1
kind: Pulp
metadata:
  name: pulp
spec:
  deployment_type: pulp
  cache_enabled: true
  image_version: latest
  image_web_version: latest
  api:
    replicas: 1
  content:
    replicas: 1
  worker:
    replicas: 1
  web:
    replicas: 1

  database:
    external_db:
      postgres_port: 5432
      postgres_ssl_mode: prefer
      postgres_host: postgres.db.svc.cluster.local
      postgres_user: pulp-admin
      postgres_password: password
      postgres_db_name: pulp

  file_storage_access_mode: "ReadWriteOnce"
  file_storage_size: "2Gi"
  signing_secret: "signing-galaxy"
  signing_scripts_configmap: "signing-scripts"
  image_web: "quay.io/pulp/galaxy-web"

  ingress_type: nodeport

  pulp_settings:
    api_root: "/pulp/"
