---
apiVersion: v1
kind: Deployment
metadata:
  name: "{{ meta.name }}-redis"
  namespace: "{{ project_name }}"
  labels:
    app: '{{ meta.name }}-{{ deployment_type }}-redis'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: '{{ meta.name }}-{{ deployment_type }}-redis'
  template:
    metadata:
      labels:
        app: '{{ meta.name }}-{{ deployment_type }}-redis'
    spec:
      containers:
        - name: redis
          image: "{{ redis_image }}"
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - readOnly: false
              mountPath: /data
              name: '{{ meta.name }}-redis-data'
          ports:
            - protocol: TCP
              containerPort: 6379
{% if redis_resource_requirements is defined %}
          resources: {{ redis_resource_requirements }}
{% endif %}
      volumes:
        - name: '{{ meta.name }}-redis-data'
          persistentVolumeClaim:
            claimName: '{{ meta.name }}-redis-data'
