---
- set_fact:
    secret_key: "{{ lookup('password', '/dev/null length=50 chars=ascii_letters') }}"
  no_log: true

- set_fact:
    object_storage_secret: "{{ object_storage_s3_secret }}"
  when:
    - object_storage_s3_secret is defined

- set_fact:
    object_storage_secret: "{{ object_storage_azure_secret }}"
  when:
    - object_storage_azure_secret is defined

- set_fact:
    is_file_storage: false
  when:
    - object_storage_secret is defined

- name: pulp-file-storage
  block:
    - name: pulp-file-storage persistent volume claim
      k8s:
        state: "{{ deployment_state }}"
        definition: "{{ lookup('template', 'templates/' + item + '.pvc.yaml.j2') | from_yaml }}"
      with_items:
        - pulp-file-storage

    - name: Remove ownerReferences from pulp-file-storage pvc to avoid garbage collection
      k8s:
        definition:
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: '{{ ansible_operator_meta.name }}-file-storage'
            namespace: '{{ ansible_operator_meta.namespace }}'
            ownerReferences: null

  when: is_file_storage

- include_tasks:
    file: s3-storage-configuration.yml
  when:
    - not is_file_storage
    - object_storage_s3_secret is defined
    - object_storage_s3_secret | length

- include_tasks:
    file: azure-storage-configuration.yml
  when:
    - not is_file_storage
    - object_storage_azure_secret is defined
    - object_storage_azure_secret | length

# Workaround being unable to do the following, for the subsequent task:
# when: (pulp_settings is not defined) or
#   (pulp_settings.content_origin is not defined)
# (short-circuit evaluation only works for multiple separate when statements)
# https://github.com/ansible/ansible/issues/50554
- name: Setting CONTENT_ORIGIN
  set_fact:
    content_origin_temp: pulp_settings.content_origin
  when:
    - pulp_settings is defined
    - pulp_settings.content_origin is defined

- name: Getting raw pulp_settings
  set_fact:
    raw_pulp_settings: "{{ raw_spec['pulp_settings'] | default({}) }}"
  no_log: true
  when: pulp_settings is defined

- include_tasks:
    file: get_node_ip.yml
  when: content_origin_temp is not defined

- name: Combining pulp_settings
  set_fact:
    pulp_combined_settings: "{{ default_settings|combine(raw_pulp_settings, recursive=True) if pulp_settings is defined and pulp_settings is not none else default_settings }}"
  no_log: true

- include_tasks:
    file: sso-configuration.yml
  when:
    - sso_secret is defined
    - sso_secret | length

- name: pulp-server secret
  k8s:
    state: "{{ deployment_state }}"
    definition: "{{ lookup('template', 'templates/' + item + '.secret.yaml.j2') | from_yaml }}"
  with_items:
    - pulp-server
  no_log: true

- include_tasks:
    file: admin_password_configuration.yml

- include_tasks:
    file: db_fields_encryption_configuration.yml

- name: pulp-api service
  k8s:
    state: "{{ deployment_state }}"
    definition: "{{ lookup('template', 'templates/' + item + '.service.yaml.j2') | from_yaml }}"
  with_items:
    - pulp-api

- name: Get information about the cluster
  set_fact:
    api_groups: "{{ lookup('k8s', cluster_info='api_groups') }}"
  when:
  - not is_openshift
  - not is_k8s

- name: Determine the cluster type
  set_fact:
    is_openshift: "{{ True if 'route.openshift.io' in api_groups else False }}"
    is_k8s: "{{ False if 'route.openshift.io' in api_groups else True }}"
  when:
  - not is_openshift
  - not is_k8s

# Indicate what kind of cluster we are in (OpenShift or Kubernetes).
- debug:
    msg: "CLUSTER TYPE: is_openshift={{ is_openshift }}; is_k8s={{ is_k8s }}"
- fail:
    msg: "Cannot determine what type of cluster we are in"
  when:
  - not is_openshift
  - not is_k8s

- name: Set default pulp-api image
  set_fact:
    _default_image: "{{ _image }}:{{ _image_version }}"

- name: Set user provided pulp-api image
  set_fact:
    _custom_image: "{{ image }}:{{ image_version }}"
  when:
    - image is defined and image != ''
    - image_version is defined and image_version != ''

- name: Set pulp-api image URL
  set_fact:
    _image: "{{ _custom_image | default(lookup('env', 'RELATED_IMAGE_PULP')) | default(_default_image, true) }}"

- name: Set node affinity
  set_fact:
    _node_affinity: "{{ raw_spec['affinity']['node_affinity'] | default({}) }}"
  when: affinity is defined and affinity.node_affinity is defined

- name: pulp-api deployment
  k8s:
    state: "{{ deployment_state }}"
    definition: "{{ lookup('template', 'templates/' + item + '.deployment.yaml.j2') | from_yaml }}"
  with_items:
    - pulp-api
