---
- name: Check for signing keys
  k8s_info:
    kind: Secret
    namespace: '{{ ansible_operator_meta.namespace }}'
    name: '{{ signing_secret }}'
  register: _signing_keys
  no_log: "{{ no_log }}"

- name: Get signing keys
  set_fact:
    signing_service_gpg_content: "{{ _signing_keys['resources'][0]['data']['signing_service.gpg'] | b64decode }}"
  no_log: "{{ no_log }}"

- name: Copying public GPG key
  copy:
    dest: "/tmp/signing_service.gpg"
    content: "{{ signing_service_gpg_content }}"

- name: Get GPG key ID
  block:
  - name: Inspect galaxy signing service GPG key file
    shell: >
      {{ __pulp_gpg_inspect_command }}
      /tmp/signing_service.gpg | grep -m1 -o -E
      '[A-F0-9]{4} [A-F0-9]{4} [A-F0-9]{4} [A-F0-9]{4} [A-F0-9]{4}  [A-F0-9]{4} [A-F0-9]{4} [A-F0-9]{4} [A-F0-9]{4} [A-F0-9]{4}'
      | tr -d " "
    register: signing_key
    changed_when: false
    failed_when: signing_key.stdout | length != 40
    check_mode: false

  - name: Import galaxy signing service GPG key file
    command: gpg --batch --import /tmp/signing_service.gpg
    register: result
    # Imported successfully: rc 0
    # Already imported: rc 2
    # If you try to import multiple keys but only some need to be imported: rc 2
    changed_when: result.stderr is search("imported:")
    failed_when: result.rc not in [0,2]

  - name: Trust the galaxy signing service GPG key
    # When using this syntax, "ultimate" trust == 6
    shell: >
      echo {{ signing_key.stdout }}:6 | gpg --import-ownertrust
    register: result
    # changed messages can be either:
    # gpg: inserting ownertrust of 6
    # gpg: changing ownertrust from 3 to 6
    changed_when: "'ownertrust' in result.stderr"

  - name: Set environment variable for the GPG key ID
    set_fact:
        signing_key_fingerprint: "{{ signing_key.stdout }}"
        cacheable: yes

  when: signing_key_fingerprint is undefined
