---
apiVersion: v1
kind: Deployment
metadata:
  name: pulp-worker
  namespace: "{{ project_name }}"
  labels:
    app: pulp-worker
spec:
  replicas: {{ pulp_worker.replicas }}
  selector:
    matchLabels:
      app: pulp-worker
  template:
    metadata:
      labels:
        app: pulp-worker
    spec:
      securityContext:
        runAsUser: 0
        fsGroup: 0
      #serviceAccountName: "{{ project_name }}-anyuid"
      volumes:
        - name: pulp-server
          secret:
            secretName: pulp-server
            items:
              - path: settings.py
                key: settings.py
        - name: pulp-file-storage
          persistentVolumeClaim:
            claimName: pulp-file-storage
      containers:
        - name: pulp-worker
          image: "{{ registry }}/{{ project }}/{{ image }}:{{ tag }}"
          imagePullPolicy: "IfNotPresent"
          # We set args, not command, so as to not override the entrypoint script
          args: ["pulp-worker"]
          env:
            - name: POSTGRES_SERVICE_HOST
              value: "{{ postgres_host }}"
            - name: POSTGRES_SERVICE_PORT
              value: "{{ postgres_port }}"
          volumeMounts:
            - name: pulp-server
              mountPath: "/etc/pulp/"
            - name: pulp-file-storage
              readOnly: false
              mountPath: "/var/lib/pulp"
