# Azure Secret.
---
storage_secret: '{{ storage_secret }}'
azure_account_name: '{{ azure_account_name }}'
azure_account_key: '{{ azure_account_key }}'
azure_container: '{{ azure_container }}'
azure_container_path: '{{ azure_container_path }}'
