# Galaxy Signing Secret.
---
galaxy_signing_secret: {{ galaxy_signing_secret }}
galaxy_signing_service_gpg: |-
{{ galaxy_signing_service_gpg | indent(width=4, first=True) }}
galaxy_signing_service_asc: |-
{{ galaxy_signing_service_asc | indent(width=4, first=True) }}
