---
apiVersion: v1
kind: Pod
metadata:
  name: {{ meta.name }}-db-management
  namespace: {{ meta.namespace }}
spec:
  containers:
  - name: {{ meta.name }}-db-management
    image: "{{ postgres_image }}"
    imagePullPolicy: Always
    command: ["sleep", "infinity"]
    volumeMounts:
    - name: {{ meta.name }}-backup
      mountPath: /backups
      readOnly: false
{% if pulp_storage_claim is defined %}
    - name: pulp-file-storage
      readOnly: false
      mountPath: "/var/lib/pulp"
{% endif %}
  volumes:
    - name: {{ meta.name }}-backup
      persistentVolumeClaim:
        claimName: {{ backup_pvc }}
        readOnly: false
{% if pulp_storage_claim is defined %}
    - name: pulp-file-storage
      persistentVolumeClaim:
        claimName: {{ pulp_storage_claim }}
{% endif %}
  restartPolicy: Never
