# S3 Secret.
---
apiVersion: v1
kind: Secret
metadata:
{% raw %}
  name: '{{ deployment_name }}-objectstorage-configuration'
  namespace: '{{ meta.namespace }}'
{% endraw %}
stringData:
  s3-access-key-id: '{{ s3_access_key_id }}'
  s3-secret-access-key: '{{ s3_secret_access_key }}'
  s3-bucket-name: '{{ s3_bucket_name }}'
{% if s3_region is defined%}
  s3-region: '{{ s3_region }}'
{% endif %}
{% if s3_endpoint is defined %}
  s3-endpoint: '{{ s3_endpoint }}'
{% endif %}
