---
admin_password_name: {{ admin_password_secret }}
admin_password: {{ admin_password }}
database_password: {{ database_password }}
database_username: {{ database_username }}
database_name: {{ database_name }}
database_port: {{ database_port }}
database_host: {{ database_host }}
database_type: {{ database_type }}
postgres_version: {{ postgres_version }}
{% if database_type == 'unmanaged' %}
db_secret_name: {{ postgres_configuration_secret }}
{% endif %}
