# Galaxy Signing Secret.
---
signing_secret: {{ signing_secret }}
signing_service_gpg: |-
{{ signing_service_gpg | indent(width=4, first=True) }}
signing_service_asc: |-
{{ signing_service_asc | indent(width=4, first=True) }}
