# SSO Secret.
---
sso_secret: {{ sso_secret }}
social_auth_keycloak_key: {{ social_auth_keycloak_key }}
social_auth_keycloak_secret: {{ social_auth_keycloak_secret }}
social_auth_keycloak_public_key: {{ social_auth_keycloak_public_key }}
keycloak_host: {{ keycloak_host }}
keycloak_protocol: {{ keycloak_protocol }}
keycloak_port: {{ keycloak_port }}
keycloak_realm: {{ keycloak_realm }}
