name: Nightly Docs

on:
  schedule:
    - cron: '15 3 * * *'

jobs:
  publish-docs:
    name: Publish docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run publish docs script
      env:
        PULP_DOCS_KEY: ${{ secrets.PULP_DOCS_KEY }}
      run: .ci/scripts/publish_docs.sh ${{ github.ref }}
