name: Pulp PR
on:
  pull_request:
    branches:
      - '*'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: PR head repo
        id: head_repo_name
        run: |
          HEAD_REPO_NAME=$(jq -r '.pull_request.head.repo.full_name' "$GITHUB_EVENT_PATH")
          echo "PR head repo: $HEAD_REPO_NAME"
          echo "::set-output name=repo::$HEAD_REPO_NAME"
      - uses: actions/checkout@v2
        with:
          # by default, it uses a depth of 1
          # this fetches all history so that we can read each commit
          fetch-depth: 0
          repository: ${{ steps.head_repo_name.outputs.repo }}
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Check commit message
        if: github.event_name == 'pull_request'
        env:
          GITHUB_CONTEXT: ${{ github.event.pull_request.commits_url }}
        run: |
          echo ::group::REQUESTS
          pip install requests
          echo ::endgroup::
          for sha in $(curl $GITHUB_CONTEXT | jq '.[].sha' | sed 's/"//g')
          do
            python .ci/scripts/validate_commit_message.py $sha
            VALUE=$?
            if [ "$VALUE" -gt 0 ]; then
              exit $VALUE
            fi
          done
        shell: bash

  insta:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: PR head repo
        id: head_repo_name
        run: |
          HEAD_REPO_NAME=$(jq -r '.pull_request.head.repo.full_name' "$GITHUB_EVENT_PATH")
          echo "PR head repo: $HEAD_REPO_NAME"
          echo "::set-output name=repo::$HEAD_REPO_NAME"
      - uses: actions/checkout@v2
        with:
          # by default, it uses a depth of 1
          # this fetches all history so that we can read each commit
          fetch-depth: 0
          repository: ${{ steps.head_repo_name.outputs.repo }}
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Install httpie
        run: |
          echo ::group::HTTPIE
          sudo apt-get update -yq
          sudo -E apt-get -yq --no-install-suggests --no-install-recommends install httpie
          echo ::endgroup::
          echo "HTTPIE_CONFIG_DIR=$GITHUB_WORKSPACE/.ci/assets/httpie/" >> $GITHUB_ENV
          echo "IMG=quay.io/pulp/pulp-operator:latest" >> $GITHUB_ENV
          echo "CI_TEST=true" >> $GITHUB_ENV
        shell: bash
      - name: Start minikube
        run: |
          minikube start --vm-driver=docker --extra-config=apiserver.service-node-port-range=80-32000
        # now you can run kubectl to see the pods in the cluster
      - name: Try the cluster !
        run: kubectl get pods -A
      - name: Setup a minikube docker env
        run: minikube -p minikube docker-env | grep "export" | awk '{$1= ""; print $0}' >> $GITHUB_ENV
      - name: Build Operator
        run: |
          echo ::group::SDK
          CURRENT_VERSION=$(head -1 ./build/Dockerfile  | cut -d ":" -f 2)
          sudo wget https://github.com/operator-framework/operator-sdk/releases/download/$CURRENT_VERSION/operator-sdk-$CURRENT_VERSION-x86_64-linux-gnu -O /usr/local/bin/operator-sdk
          sudo chmod +x /usr/local/bin/operator-sdk
          echo ::endgroup::
          eval $(minikube -p minikube docker-env)
          sudo -E operator-sdk build quay.io/pulp/pulp-operator:latest
          sudo -E docker images
        shell: bash
      - name: Test insta-demo
        env:
          FORKED_REPOSITORY: ${{ steps.head_repo_name.outputs.repo }}
        run: sudo -E insta-demo/pulp-insta-demo.sh -m
        shell: bash
      - name: After failure
        if: failure()
        run: |
          sudo docker images
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-operator -c pulp-operator --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-api --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-content --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-worker --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-resource-manager --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-web --tail=10000
          http --timeout 30 --check-status --pretty format --print hb http://localhost:24817/pulp/api/v3/status/
      # - name: Debugging example (uncomment when needed)
      #   if: failure()
      #   uses: mxschmitt/action-tmate@v3

  components:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
        with:
          # by default, it uses a depth of 1
          # this fetches all history so that we can read each commit
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Install httpie
        run: |
          echo ::group::HTTPIE
          sudo apt-get update -yq
          sudo -E apt-get -yq --no-install-suggests --no-install-recommends install httpie
          echo ::endgroup::
          echo "HTTPIE_CONFIG_DIR=$GITHUB_WORKSPACE/.ci/assets/httpie/" >> $GITHUB_ENV
          echo "IMG=quay.io/pulp/pulp-operator:latest" >> $GITHUB_ENV
          echo "CI_TEST=true" >> $GITHUB_ENV
        shell: bash
      - name: Start minikube
        run: |
          minikube start --vm-driver=docker --extra-config=apiserver.service-node-port-range=80-32000
        # now you can run kubectl to see the pods in the cluster
      - name: Try the cluster !
        run: |
          kubectl config view > $PWD/kubeconfig
          kubectl get pods -A
          echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV
      - name: Setup a minikube docker env
        run: minikube -p minikube docker-env | grep "export" | awk '{$1= ""; print $0}' >> $GITHUB_ENV
      - name: Build Operator
        run: |
          echo ::group::SDK
          CURRENT_VERSION=$(head -1 ./build/Dockerfile  | cut -d ":" -f 2)
          sudo wget https://github.com/operator-framework/operator-sdk/releases/download/$CURRENT_VERSION/operator-sdk-$CURRENT_VERSION-x86_64-linux-gnu -O /usr/local/bin/operator-sdk
          sudo chmod +x /usr/local/bin/operator-sdk
          echo ::endgroup::
          eval $(minikube -p minikube docker-env)
          sudo -E operator-sdk build quay.io/pulp/pulp-operator:latest
          sudo -E docker images
        shell: bash
      - name: Deploy pulp-operator to K8s
        run: |
          echo $KUBECONFIG
          cat $KUBECONFIG
          sudo -E ./up.sh
        shell: bash
      - name: Check and wait pulp-operator deploy
        run: .ci/scripts/pulp-operator-check-and-wait.sh -m
        shell: bash
      - name: Test all components
        run: |
          git clone --depth=1 https://github.com/pulp/pulp_file.git
          .ci/scripts/retry.sh 3 ".ci/scripts/pulp_file-tests.sh -m"
        shell: bash
        env:
          PY_COLORS: '1'
      - name: After failure
        if: failure()
        run: |
          sudo docker images
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-operator -c pulp-operator --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-api --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-content --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-worker --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-resource-manager --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-web --tail=10000
          http --timeout 30 --check-status --pretty format --print hb http://localhost:24817/pulp/api/v3/status/
      # - name: Debugging example (uncomment when needed)
      #   if: failure()
      #   uses: mxschmitt/action-tmate@v3

  galaxy:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
        with:
          # by default, it uses a depth of 1
          # this fetches all history so that we can read each commit
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Install httpie
        run: |
          echo ::group::HTTPIE
          sudo apt-get update -yq
          sudo -E apt-get -yq --no-install-suggests --no-install-recommends install httpie
          echo ::endgroup::
          echo "HTTPIE_CONFIG_DIR=$GITHUB_WORKSPACE/.ci/assets/httpie/" >> $GITHUB_ENV
          echo "IMG=quay.io/pulp/pulp-operator:latest" >> $GITHUB_ENV
          echo "CI_TEST=true" >> $GITHUB_ENV
        shell: bash
      - name: Start minikube
        run: |
          minikube start --vm-driver=docker --extra-config=apiserver.service-node-port-range=80-32000
        # now you can run kubectl to see the pods in the cluster
      - name: Try the cluster !
        run: kubectl get pods -A
      - name: Setup a minikube docker env
        run: minikube -p minikube docker-env | grep "export" | awk '{$1= ""; print $0}' >> $GITHUB_ENV
      - name: Build Operator
        run: |
          echo ::group::SDK
          CURRENT_VERSION=$(head -1 ./build/Dockerfile  | cut -d ":" -f 2)
          sudo wget https://github.com/operator-framework/operator-sdk/releases/download/$CURRENT_VERSION/operator-sdk-$CURRENT_VERSION-x86_64-linux-gnu -O /usr/local/bin/operator-sdk
          sudo chmod +x /usr/local/bin/operator-sdk
          echo ::endgroup::
          sed -i "s/image_web: pulp-web/image_web: galaxy-web/g" playbook.yml
          eval $(minikube -p minikube docker-env)
          sudo -E operator-sdk build quay.io/pulp/pulp-operator:latest
          sudo -E docker images
        shell: bash
      - name: Deploy pulp-operator to K8s
        run: sudo -E CI_TEST=galaxy ./up.sh
        shell: bash
      - name: Check and wait pulp-operator deploy
        run: .ci/scripts/pulp-operator-check-and-wait.sh -m
        shell: bash
      - name: Test
        run: sudo -E .ci/scripts/galaxy_ng-tests.sh -m
        shell: bash
      - name: After failure
        if: failure()
        run: |
          sudo docker images
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-operator -c pulp-operator --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-api --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-content --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-worker --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-resource-manager --tail=10000
          sudo -E kubectl logs -l app.kubernetes.io/name=pulp-web --tail=10000
          http --timeout 30 --check-status --pretty format --print hb http://localhost:24817/pulp/api/v3/status/
      # - name: Debugging example (uncomment when needed)
      #   if: failure()
      #   uses: mxschmitt/action-tmate@v3

  molecule:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
        with:
          # by default, it uses a depth of 1
          # this fetches all history so that we can read each commit
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Install httpie
        run: |
          echo ::group::HTTPIE
          sudo apt-get update -yq
          sudo -E apt-get -yq --no-install-suggests --no-install-recommends install httpie
          echo ::endgroup::
          echo "HTTPIE_CONFIG_DIR=$GITHUB_WORKSPACE/.ci/assets/httpie/" >> $GITHUB_ENV
          echo "IMG=quay.io/pulp/pulp-operator:latest" >> $GITHUB_ENV
          echo "CI_TEST=true" >> $GITHUB_ENV
        shell: bash
      - name: Install
        run: |
          pip install --upgrade pip
          sudo apt remove ansible
          pip install "ansible<4.0" molecule[docker,lint]==3.2.3 openshift==0.11.0 jmespath pipdeptree
          pipdeptree
      - name: Molecule
        run: .ci/scripts/molecule.sh
        shell: bash
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
      - name: After failure
        if: failure()
        run: |
          docker exec -it osdk-test-control-plane journalctl -S today --no-pager
      # - name: Debugging example (uncomment when needed)
      #   if: failure()
      #   uses: mxschmitt/action-tmate@v3
